API_REFERENCE.md
BACKEND_DESIGN.md
Kecamatan.md
Puskemas.md
Daftar Kelurahan dan Desa di Kabupaten Sikka Berdasarkan Kecamatan - Table 1.csv
Logo.png
datasurvey.html
.env
node_modules
.github
laporan.html
laporan.puskesmas.html
DEPLOYMENT.md